body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


button{
    font-size: 90px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 7px;
    padding: 10px;
}

button:hover{
    background-color: rgb(0, 0, 177);
}

button:active{
    background-color: red;
}

#result{
    font-size: 90px;
    font-weight: bold;

}